.dashboard-main {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

/* Row Layout */
.row {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 40px;
  flex-wrap: wrap;
}

/* Card Base */
.card {
  background: #ffffff;
  border-radius: 12px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.08);
  padding: 16px;
  cursor: pointer;
  transition: transform 0.2s, box-shadow 0.2s;
  align-items: center;
  justify-content: center;
}

.card:hover {
  transform: translateY(-4px);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.12);
}

.card:active {
  transform: scale(0.95);
}

/* Sizes */
.small-card {
  width: 250px;
  height: 200px;
}

.large-card {
  width: 566px;
  height: 200px;
}

.card h3 {
  width: 100%;
  text-align: center;
  margin-bottom: 12px; /* space before number box */
}


/* Ongoing & Completed Jobs */
.stat-box {
  width: 225px;
  height: 68px;
  font-size: 100px;
  color: #26466f;
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

/* Job Requests Table */
.job-table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 12px;
  font-size: 14px;
}

.job-table th,
.job-table td {
  padding: 6px 10px;
  border-bottom: 1px solid #eee;
  text-align: left;
}

.job-table th:first-child,
.job-table td:first-child {
  text-align: center;
  width: 30px;
}

/* Title centered on top */
.review-title {
  text-align: center;
  font-size: 22px;
  font-weight: bold;
  margin-bottom: 20px;
  color: #26466f;
}

/* Container for left + right sections */
.review-container {
  display: flex;
}

/* Profile picture */
.review-profile-pic {
  width: 85px;
  height: 85px;
  border-radius: 50%;
  object-fit: cover;
}

/* Container for name, total spent, and total reviews */
.profile-details {
  display: flex;
  flex-direction: column;
  text-align: center;
  width: 180px;
  padding-top: 10px;
  padding-left: 10px;
}

/* Text styles */
.reviewer-name {
  font-size: 18px;
  font-weight: 600;
  color: #26466f;
  justify-content: center;
   width: max-content;
}

.reviewer-spent,
.reviewer-reviews {
  font-size: 14px;
  color: #555;
  width: max-content;
}

/* Right column - review section */
.review-right {
  flex: 1;
  display: flex;
  flex-direction: column;
}

/* Stars and date row */
.review-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 8px;
}

.review-stars {
  font-size: 18px;
}

.review-date {
  font-size: 13px;
  color: #777;
}

/* Review text */
/* .review-body {
 
} */

.review-comment {
  font-size: 15px;
  color: #333;
  width: 100%;
}

